html,
body,
.view {
    height: 100%;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;*/
}

.normalHprLink {
    color: #377bb5 !important;
}

.normalHprLink:hover {
    text-decoration: underline;
}

a {
    color: white !important;
}

.row {
    padding-top: 3em;
}

.navbar {
     background-color: transparent;
 }

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: -1px;
    padding-top: 0 !important;
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

.flex {
    padding-top: 100px;
}

.flex-center {
    color: #fff;
}

.view {
    background: url(img/img1.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.view1 {
    background: url(img/img1.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#logBkg {
    background: url(img/myLogs1.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#createBkg {
    background: url(img/write.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#profileBkg {
    background: url(img/profileBkg.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#jumbotron {
    background: url(img/myLogs1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 120px;
}

#jumbotronFeed {
    background: url(img/myProfile.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 120px;
}

.create1 {
    padding-top: 100px;
}

#jumboLogo {
    transition: 0.5s;
    padding-top: 40px;
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#jumboLogo:hover {
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    opacity: 0.8;
}

.handwriting {
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
}

.media {
    padding-top: 20px;
}

#form5, #form6, #form7, #textarea {
    color: white;
}

.createTitle {
    color: white;
    font: bold 40px/75px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.center {
    margin: auto;
}

#signUpForm {
    text-align: center;
}

.table-striped {            /* My logs table */
    text-align: left;
    font-size: 14px;
}

.table-striped.tr {
    !important;
    line-height: 20px;
}

.table-striped tr:hover {
    font-weight: 500;
}

.userCol {
    width: 27.5%;
}

.dateCol {
    width: 17.5%;
}

.titleCol {
    width: 40%;
}

.viewCol {
    width: 5%;
}

#img-circle1 { /* Home page pic*/
    box-shadow: 10px 10px 5px #888888 !important;
    width: 175px;
    height: 175px;
}

.img-circle {
    box-shadow: none !important;
}

.introFormat {
    text-align: justify;
}

#feedbackLink {
    font-weight: bold !important;
    text-decoration: underline;

}

#feedbackLink:hover {
    text-decoration: underline;
}

#signUp {
    background-color: #ede8ee;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
}

.logo {
    width: 133px;
    height: 45px;
}

.logo1 {
    width: 200px;
    height: 45px;
}

.transition, .transition1{
    transition: 0.2s;
    color: #377bb5 !important;
}

.transition:hover {
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    opacity: 0.8;
}

.transition1:hover {
    transform:scale(1.2,1.2);
    -webkit-transform:scale(1.2,1.2);
}

.feedback {
    color: black !important;
}

#homeLink {
    color: #377bb5 !important;
}

#homeLink:hover {
    text-decoration: underline !important;
    color: #377bb5;
}

.feedbackSuccess {
    padding-top: 100px;
    padding-bottom: 200px;
}

#padding {
    padding-bottom: 70px;
}

.date {
    font-style: italic;
}
/**********************create image page*****************************/
#img {
    width: 100%;
    height: 100%;
    position: relative;
}

#img1 {
    width: 50%;
    height: 50%;
}

.image {
    position: relative;
    width: 1110px;
    height: 740px;
}

#h2 {
    position: absolute;
    top: 160px;
    left: 0;
    width: 100%;

}

#h2 span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    font-size: 40px;
}


/******************* switch ***********************/

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(55, 123, 181);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/******************** back to top button - logs page *********************/

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(28, 35, 48, 0.9) url(img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1;
}
.no-touch .cd-top:hover {
    background-color: #1c2330;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

